#Virtual Environment
.venv/
venv/

#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

#Environment
.env

#vs code
.vscode/

#macOS
.DS_Store

#Logs
.log

#Database
*.db

#Jupyter
.ipynb_checkpoints/

#Build
build/
dist/
*.egg-info/

#chromaDB
chroma_db/

#Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

#reports
data/reports/*
!data/reports/.gitkeep